* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    background: transparent;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*-    -tablet-    */
#mainscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#tablet {
    border-radius: 30px;
    border-style:outset;
    position: absolute;
    margin: auto;
    height: 90%;
    width: 80%;
    background: #3b3b3b;
}

#tablet_window {
    border-style: inset;
    position: absolute;
    border-radius: 15px;
    background-size: contain;
    overflow: hidden;
    height: 96%;
    width: 98%;
    background-image:
    linear-gradient(to bottom right,
    rgb(189, 110, 61),
    rgb(30, 22, 103));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    left: 1%;
    top: 2%;
}

/*-    -status bar-    */

#statusbar {
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px;
    height: 2.5vh;
    padding-top: 1vh;
}

#wifi {
    padding-left: 1vw;
    float: left;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#time {
    padding-left: 1vw;
    float: left;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#user {
    padding-left: 2vw;
    float: left;
    margin-right: .1vw;
    margin-left: 1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#user_info {
    padding-left: .2vw;
    float: left;
    margin-top: -.4vh;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#battery {
    padding-right: 1vw;
    float: right;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#weather {
    padding-right: 1.5vh;
    float: right;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

/*-    -icons-    */
#icons_container {
    position: absolute;
    border-radius: 15px;
    background-size: contain;
    overflow: hidden;
    height: 15%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    left: 5%;
    bottom: 1%;
}

#icon_mail {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    border-radius: 25px;
    padding: 2%;
    background-color: gainsboro;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    margin-left: 7%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 3%;
}

#icon_mail:hover {
    color: rgb(89, 249, 230);
    border-color: transparent;
    background-color: aliceblue;
    transition-duration: 0.4s;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
}

#icon_mail:active {
    transition-duration: 0.2s;
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

#icon_jobs {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    border-radius: 25px;
    padding: 2%;
    background-color: gainsboro;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 3%;
}

#icon_jobs:hover {
    color: rgb(249, 236, 89);
    border-color: transparent;
    background-color: aliceblue;
    transition-duration: 0.4s;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
}

#icon_jobs:active {
    transition-duration: 0.2s;
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

#icon_stck {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    border-radius: 25px;
    padding: 2%;
    background-color: gainsboro;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 3%;
}

#icon_stck:hover {
    color: rgb(68, 210, 61);
    border-color: transparent;
    background-color: aliceblue;
    transition-duration: 0.4s;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
}

#icon_stck:active {
    transition-duration: 0.2s;
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

#icon_iweb {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    border-radius: 25px;
    padding: 2%;
    background-color: gainsboro;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 3%;
}

#icon_iweb:hover {
    color: rgb(89, 139, 255);
    border-color: transparent;
    background-color: aliceblue;
    transition-duration: 0.4s;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
}

#icon_iweb:active {
    transition-duration: 0.2s;
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

#icon_maps {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    border-radius: 25px;
    padding: 2%;
    background-color: gainsboro;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 3%;
}

#icon_maps:hover {
    color: rgb(249, 142, 89);
    border-color: transparent;
    background-color: aliceblue;
    transition-duration: 0.4s;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
}

#icon_maps:active {
    transition-duration: 0.2s;
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

#icon_stng {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    border-radius: 25px;
    padding: 2%;
    background-color: gainsboro;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 8%;
}

#icon_stng:hover {
    color: rgb(185, 89, 249);
    border-color: transparent;
    background-color: aliceblue;
    transition-duration: 0.4s;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
    );
}

#icon_stng:active {
    transition-duration: 0.2s;
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

/*-    -info-    */
