* {
    margin: 0; padding: 0; box-sizing: border-box;
    user-select: none; background: transparent;
    font-family: "Roboto", system-ui;
    font-weight: 400; font-style: normal;
}


#mainscreen {
    display: flex; justify-content: center; align-items: center;
    width: 100vw; height: 100vh; position: relative; z-index: 1;
}

#tablet {
    border-radius: 30px; border-style:outset; position: absolute;
    margin: auto; height: 80%; width: 80%; background: #3b3b3b;
}

#tablet_window {
    border-style: inset; position: absolute; border-radius: 15px;
    background-size: contain; overflow: hidden; height: 96%; width: 98%;
    background-image: linear-gradient(to bottom right, rgb(189, 110, 61), rgb(30, 22, 103));
    background-repeat: no-repeat; background-size: cover; z-index: 0; left: 1%; top: 2%;
}

#statusbar {
    border-top-left-radius: 7px;  border-top-right-radius: 7px; height: 2.5vh;
    
}

#wifi {
    padding-top: .8vh; padding-left: 1vw; float: left;
    margin-right: .1vw; margin-left: .1vw;
    color: rgb(246, 255, 230); font-size: 1vw;
}

#time {
    padding-top: .8vh; padding-left: 1vw; float: left;
    margin-right: .1vw; margin-left: .1vw;
    color: rgb(246, 255, 230); font-size: 1vw;
}

#user {
    padding-top: .8vh; padding-left: 2w; float: left;
    margin-right: .1vw; margin-left: 1vw;
    color: rgb(246, 255, 230); font-size: 1vw;
}

#user_info {
    padding-top: .3vh; padding-left: .5vw; float: left;
    margin-right: .1vw; margin-left: .1vw;
    color: rgb(246, 255, 230); font-size: 1vw;
}

#battery {
    padding-top: .8vh; padding-right: 1vw; float: right;
    margin-right: .1vw; margin-left: .1vw;
    color: rgb(246, 255, 230); font-size: 1vw;
}

#weather {
    padding-top: .8vh; padding-right: 1.5vh; float: right;
    margin-right: .1vw; margin-left: .1vw;
    color: rgb(246, 255, 230); font-size: 1vw;
}