* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    background: transparent;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*-    -tablet-    */
#mainscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#tablet {
    border-radius: 30px;
    border-style:outset;
    position: absolute;
    margin: auto;
    height: 80%;
    width: 80%;
    background: #3b3b3b;
}

#tablet_window {
    border-style: inset;
    position: absolute;
    border-radius: 15px;
    background-size: contain;
    overflow: hidden;
    height: 96%;
    width: 98%;
    background-image:
    linear-gradient(to bottom right,
    rgb(189, 110, 61),
    rgb(30, 22, 103));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    left: 1%;
    top: 2%;
}

/*-    -status bar-    */

#statusbar {
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px;
    height: 2.5vh;
    padding-top: 1vh;
}

#wifi {
    padding-left: 1vw;
    float: left;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#time {
    padding-left: 1vw;
    float: left;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#user {
    padding-left: 2vw;
    float: left;
    margin-right: .1vw;
    margin-left: 1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#user_info {
    padding-left: .2vw;
    float: left;
    margin-top: -.4vh;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#battery {
    padding-right: 1vw;
    float: right;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

#weather {
    padding-right: 1.5vh;
    float: right;
    margin-right: .1vw;
    margin-left: .1vw;
    color: rgb(246, 255, 230);
    font-size: 1vw;
}

/*-    -icons-    */
#icons_container {
    position: absolute;
    border-radius: 15px;
    background-size: contain;
    overflow: hidden;
    height: 88%;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    left: 1%;
    top: 15%;
    
}

#icon_mail {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    transition-duration: 0.4s;
    border-radius: 25px;
    padding: 2.5%;
    background-color: rgb(191, 191, 191);
    margin-left: 10%; 
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 10%;
}

#icon_mail:hover {
    color: rgb(191, 191, 191);
    border-color: transparent;
    background-color: rgb(115, 115, 115);
}

#icon_jobs {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    transition-duration: 0.4s;
    border-radius: 25px;
    padding: 2.5%;
    background-color: rgb(191, 191, 191);
    margin-left: 10%; 
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 10%;
}

#icon_jobs:hover {
    color: rgb(191, 191, 191);
    border-color: transparent;
    background-color: rgb(115, 115, 115);
}

#icon_note {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    transition-duration: 0.4s;
    border-radius: 25px;
    padding: 2.5%;
    background-color: rgb(191, 191, 191);
    margin-left: 10%; 
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 10%;
}

#icon_note:hover {
    color: rgb(191, 191, 191);
    border-color: transparent;
    background-color: rgb(115, 115, 115);
}

#icon_stck {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    transition-duration: 0.4s;
    border-radius: 25px;
    padding: 2.5%;
    background-color: rgb(191, 191, 191);
    margin-left: 10%; 
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 10%;
}

#icon_stck:hover {
    color: rgb(191, 191, 191);
    border-color: transparent;
    background-color: rgb(115, 115, 115);
}

#icon_iweb {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    transition-duration: 0.4s;
    border-radius: 25px;
    padding: 2.5%;
    background-color: rgb(191, 191, 191);
    margin-left: 10%; 
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 10%;
}

#icon_iweb:hover {
    color: rgb(191, 191, 191);
    border-color: transparent;
    background-color: rgb(115, 115, 115);
}

#icon_maps {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    transition-duration: 0.4s;
    border-radius: 25px;
    padding: 2.5%;
    background-color: rgb(191, 191, 191);
    margin-left: 10%; 
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 10%;
}

#icon_maps:hover {
    color: rgb(191, 191, 191);
    border-color: transparent;
    background-color: rgb(115, 115, 115);
}

#icon_stng {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    border-color: transparent;
    transition-duration: 0.4s;
    border-radius: 25px;
    padding: 2.5%;
    background-color: rgb(191, 191, 191);
    margin-left: 10%; 
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 10%;
}

#icon_stng:hover {
    color: rgb(191, 191, 191);
    border-color: transparent;
    background-color: rgb(115, 115, 115);
}

/*-    -info-    */
